<script src="/static/js/echarts.min.js"></script>
<script src="/static/plugins/map/js/china.js" type="text/javascript"></script>





<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main_map'));
myChart.showLoading();
setInterval(function () {
    $.get("/main/get/location/").done(function (data) {
        var data = JSON.parse(data);

    myChart.hideLoading();// 加载动画

    option = {
        backgroundColor: '#404a59',
        title: {
            text: '设备分布图',
            {#subtext: 'data from PM25.in',#}
            {#sublink: 'http://www.pm25.in',#}
            left: 'center',
            top: 10,
            textStyle: {
                color: '#fff'
            }
        },

        visualMap: {
            {#min: 0,#}
            {#max: 3,#}
            {#splitNumber: 3,#}
            color: ['#f00','#ff0','#32cd32'],
            categories:['正常','重登/新设备','离线'],
            textStyle:{color:'#fff'},
        },
        geo: {
            map: 'china',
            roam: true,
            label: {
                emphasis: {
                    show: false
                }
            },
            itemStyle: {
                normal: {
                    areaColor: '#323c48',
                    borderColor: '#111'
                },
                emphasis: {
                    areaColor: '#2a333d'
                }
            }
        },
        roamController: {
                // 显示策略，可选为：true（显示） | false（隐藏）
                show: true,
                // 水平安放位置，默认为左侧，可选为：'center' | 'left' | 'right' | {number}（x坐标，单位px）
                x: 'right',
                // 垂直安放位置，默认为全图顶端，可选为：'top' | 'bottom' | 'center' | {number}（y坐标，单位px）
                y: 'top',
                // 指定宽度，决定4向漫游圆盘大小，可指定 {number}（宽度，单位px）
                show: true,
                // 水平安放位置，默认为左侧，可选为：'center' | 'left' | 'right' | {number}（x坐标，单位px）
                x: 'right',
                // 垂直安放位置，默认为全图顶端，可选为：'top' | 'bottom' | 'center' | {number}（y坐标，单位px）
                y: 'top',
                // 指定宽度，决定4向漫游圆盘大小，可指定 {number}（宽度，单位px）
                width: 120,
                // 指定高度，缩放控制键默认会在指定高度的最下方最大化显示，可指定 {number}（高度，单位px）
                height:200,
                // 缩放漫游组件背景颜色，默认透明
                backgroundColor:'rgba(0,0,0,0.1)',
                // 缩放漫游组件边框颜色
                borderColor: '#1e90ff',
                // 缩放漫游组件边框线宽，单位px，默认为0（无边框）
                borderWidth: 1,
                // 缩放漫游组件内边距，单位px，默认各方向内边距为5，接受数组分别设定上右下左边距，同css
                padding: [15,15,15,15],
                // 漫游组件文字填充颜色
                fillerColor:'#000',
                // 控制手柄主体颜色
                handleColor:'#e3655a',
                // 4向漫游移动步伐，单位px
                step:10,
                // 必须，指定漫游组件可控地图类型
                mapTypeControl: {
                    'china': true
                }
            },

        series: [
            {
                name: '状态',
                type: 'scatter',
                coordinateSystem: 'geo',
                data:data,
                    {#[[114.1333,22.5333,'正常'],[115.1333,28.5333,'重登/新设备']],#}

                symbolSize: 5,
                label: {
                    normal: {
                        show: false
                    },
                    emphasis: {
                        show: false
                    }
                },
                itemStyle: {
                    emphasis: {
                        borderColor: '#fff',
                        borderWidth: 1
                    }
                }
            }
        ]
    }
    myChart.on('click', function (params) {
        var data = params.data;
        data[2]
        $(function () {
            $('table #device_id').text(data[2])
            $('table #location').text(data[3])
            $('table #status').text(data[4])
            $('table #message').text(data[5])
            $('table #m_date').text(data[6])
            $('#myModal').modal('show');
        })
        
    });
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
});
}, 20000);
</script>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					设备信息
				</h4>
			</div>
			<div class="modal-body">
                <table class="table table-hover">
                    <tr>
                        <td>设备编号</td>
                        <td id="device_id"></td>
                    </tr>
                    <tr>
                        <td>地址</td>
                        <td id="location"></td>
                    </tr>
                    <tr>
                        <td>状态</td>
                        <td id="status"></td>
                    </tr>
                    <tr>
                        <td>是否发信息提醒</td>
                        <td id="message"></td>
                    </tr>
                    <tr>
                        <td>监控日期</td>
                        <td id="m_date"></td>
                    </tr>
                </table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>





